* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;

  font-family: var(--font-base-family);
}

/* Keep footer at bottom CSS */
html,
body {
  height: 100%;
}
body {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;
}
/* end */

h1 {
  font-family: var(--font-second-family);
  font-size: var(--text-xxx-large);
  line-height: var(--line-height-page-heading);
}

a {
  color: var(--color-teal-400);
}

.layout {
  display: grid;
  grid-template-columns:
    [site-start] calc(50vw - 39rem)
    [content-start] repeat(11, 1fr)
    1fr [content-end]
    calc(50vw - 39rem) [site-end];
  grid-gap: var(--space-large);

  & > * {
    grid-column: content-start / content-end;
  }
}

.table-of-contents {
  position: sticky;
  top: var(--space-large);
  ol {
    list-style: none;
    padding: 0;

    & > li > ol {
      padding-left: var(--space-large);
    }
  }
}

/* Left 3 columns */
.site-layout__left {
  grid-row: 1;
  grid-column: content-start / span 2;
}

/* Center 6 columns */
.site-layout__center {
  grid-row: 1;
  grid-column: 4 / span 7;
}

/* Right 3 columns */
.site-layout__right {
  grid-row: 1;
  grid-column: 11 / content-end;
}
