* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/*
  If the user has expressed their preference for
  reduced motion, then don't use animations, etc.

  source: https://web.dev/prefers-reduced-motion/
*/
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  color: var(--color-neutral-400);
  font-family: var(--font-base-family);
}

/* Keep footer at bottom CSS */
html,
body {
  height: 100%;
}
body {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  @media screen and (min-width: 820px) {
    grid-template-rows: auto auto 1fr auto;
  }
  grid-template-columns: 100%;
}

main.layout {
  align-content: baseline;

  @media screen and (min-width: 920px) {
    margin-top: var(--space-xx-large);
  }
}

/* end */

h1 {
  font-family: var(--font-second-family);
  font-size: var(--text-xxx-large);
  line-height: var(--line-height-page-heading);
  margin-bottom: var(--space-large);
}

h2 {
  font-size: var(--text-large);
  font-weight: var(--bold);
}

h3 {
  font-size: var(--text-medium);
  font-weight: var(--semibold);
}

h4 {
  font-size: var(--text-small);
  font-weight: var(--bold);
}

.layout {
  display: grid;
  grid-template-columns:
    [site-start] calc(50vw - 39rem)
    [content-start] repeat(11, 1fr)
    1fr [content-end]
    calc(50vw - 39rem) [site-end];
  grid-gap: var(--space-medium);

  & > * {
    grid-column: content-start / content-end;
  }
}

.table-of-contents {
  h2 {
    margin-bottom: var(--space-x-small);
  }

  ol {
    list-style: none;
    padding: 0;
    margin: 0;

    & > li > ol {
      padding-left: var(--space-large);
    }

    a {
      display: block;
      padding: var(--space-x-small) 0;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  li {
    margin-bottom: 0;
  }

  margin-bottom: var(--space-x-small);
}

.table-of-contents--small details {
  @media screen and (min-width: 920px) {
    display: none;
  }

  h2 {
    margin-top: 0;
    display: inline;
  }

  ol {
    list-style: none;
    margin: var(--space-x-small) 0;
  }
}

.site-layout__right {
  display: none;
}

@media screen and (min-width: 920px) {
  .site-layout__left {
    grid-row: 1;
    grid-column: content-start / span 2;
  }

  .site-layout__center {
    grid-row: 1;
    grid-column: 4 / span 7;
    padding-left: var(--space-xxx-large);
    padding-right: var(--space-large);
  }

  .site-layout__right {
    display: block;
    grid-row: 1;
    grid-column: 11 / content-end;
  }
}

.site-layout__center {
  width: 100%;
}

.edit-on-github__link {
  font-size: 16px;
  margin-top: var(--space-x-large);
  background: var(--color-teal-100);
  display: flex;
  align-items: center;
  color: var(--color-neutral-400);
  font-weight: var(--semibold);
  padding: var(--space-medium);
  border-radius: 4px;
  border-left: solid 4px var(--color-teal-400);
  text-decoration-color: var(--color-teal-400);

  svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
    margin-right: var(--space-x-small);
    flex-shrink: 0;
  }

  &:hover {
    text-decoration-thickness: 2px;
  }
}

.need-help {
  border-top: solid 1px var(--color-neutral-100);
  margin-top: var(--space-xxx-large);
  padding-top: var(--space-x-large);
  margin-bottom: var(--space-x-large);
}

::selection {
  background: var(--color-maize-200); /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: var(--color-maize-200); /* Gecko Browsers */
}
