* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;

  font-family: var(--font-base-family);
}

/* Keep footer at bottom CSS */
html,
body {
  height: 100%;
}
body {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  @media screen and (min-width: 820px) {
    grid-template-rows: auto auto 1fr auto;
  }
  grid-template-columns: 100%;
}

main.layout {
  align-content: baseline;
}

/* end */

h1 {
  font-family: var(--font-second-family);
  font-size: var(--text-xx-large);
  line-height: var(--line-height-page-heading);

  @media screen and (min-width: 820px) {
    font-size: var(--text-xxx-large);
  }
}

h2 {
  font-size: var(--text-large);
  font-weight: var(--bold);
}

h3 {
  font-size: var(--text-medium);
  font-weight: var(--semibold);
}

.layout {
  display: grid;
  grid-template-columns:
    [site-start] calc(50vw - 39rem)
    [content-start] repeat(11, 1fr)
    1fr [content-end]
    calc(50vw - 39rem) [site-end];
  grid-gap: var(--space-medium);

  & > * {
    grid-column: content-start / content-end;
  }
}

a {
  color: var(--color-teal-400);
}

.table-of-contents {
  ol {
    list-style: none;
    padding: 0;
    margin: 0;

    & > li > ol {
      padding-left: var(--space-large);
    }

    a {
      display: block;
      padding: var(--space-x-small) 0;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  margin-bottom: var(--space-x-small);
}

.site-layout__right {
  display: none;
}

@media screen and (min-width: 820px) {
  .site-layout__left {
    grid-row: 1;
    grid-column: content-start / span 2;
  }

  .site-layout__center {
    grid-row: 1;
    grid-column: 4 / span 7;
    padding-left: var(--space-x-large);
  }

  .site-layout__right {
    display: block;
    grid-row: 1;
    grid-column: 11 / content-end;
  }
}

.site-layout__center {
  width: 100%;
}

.edit-on-github__link {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  color: var(--color-neutral-400);
  font-weight: var(--semibold);
  padding: var(--space-x-small) 0;

  svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
    margin-right: var(--space-x-small);
  }

  &:hover {
    text-decoration: underline;
  }
}

.need-help {
  border-top: solid 1px var(--color-neutral-100);
  margin-top: var(--space-xxx-large);
  padding-top: var(--space-large);
}
