.site-footer {
  margin-top: var(--space-xxx-large);
  padding: var(--space-x-large) 0;

  background: var(--color-blue-400);
  color: var(--color-blue-100);

  a {
    color: var(--color-blue-100);
  }
}
