* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;

  font-family: var(--font-base-family);
}

main {
  min-height: 32rem;
}

pre {
  overflow-x: scroll;
  padding: 1rem;
  background: var(--color-neutral-100);
}

code {
  display: inline-block;
  border-radius: 4px;
  padding: 0 var(--space-xx-small);
  background: var(--color-neutral-100);
}

h1 {
  font-family: var(--font-second-family);
  font-size: var(--text-xxx-large);
  line-height: var(--line-height-page-heading);
}

.container {
  max-width: 42rem;
  margin: 0 auto;
  padding: 0 2px;
}
