umich-lib.css
design-tokens.custom-properties.css

# Built directories and files
dist/
www/
loader/
css/
_site/
icons.js
svgs/
web-component-docs.json

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
hydrate/index.js

secret/**/*
