:root {
  --example-margin: var(--space-large);

  @media only screen and (max-width: 600px) {
    --example-margin: var(--space-medium);
  }
}

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/*
  If the user has expressed their preference for
  reduced motion, then don't use animations, etc.

  source: https://web.dev/prefers-reduced-motion/
*/
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  color: var(--color-neutral-400);
  font-family: var(--font-base-family);
  font-size: 16px;
}

/* Keep footer at bottom CSS */
html,
body {
  height: 100%;
}
body {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  @media screen and (min-width: 820px) {
    grid-template-rows: auto auto 1fr auto;
  }
  grid-template-columns: 100%;
}

main.layout {
  align-content: baseline;

  @media screen and (min-width: 920px) {
    margin-top: var(--space-xx-large);
  }
}

/* end */

h1 {
  font-family: var(--font-second-family);
  font-size: var(--text-xx-large);
  line-height: var(--line-height-page-heading);
  margin-bottom: var(--space-large);

  @media screen and (min-width: 720px) {
    font-size: var(--text-xxx-large);
  }
}

h2 {
  font-size: var(--text-large);
  font-weight: var(--bold);
}

h3 {
  font-size: var(--text-medium);
  font-weight: var(--semibold);
}

h4 {
  font-size: var(--text-small);
  font-weight: var(--bold);
}

.layout {
  display: grid;
  grid-template-columns:
    [site-start] calc(50vw - 39rem)
    [content-start] repeat(11, 1fr)
    1fr [content-end]
    calc(50vw - 39rem) [site-end];
  grid-gap: var(--space-medium);

  & > * {
    grid-column: content-start / content-end;
  }
}

.table-of-contents--small,
.table-of-contents {
  h2 {
    margin-bottom: var(--space-x-small);
    font-family: var(--font-base-family);
    font-weight: var(--bold);
    font-size: var(--text-xxx-small);
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1.25px;
    line-height: var(--line-height-default);
  }
}

.table-of-contents {
  ol {
    list-style: none;
    padding: 0;
    margin: 0;

    & > li > ol {
      padding-left: var(--space-large);
    }

    a {
      display: block;
      padding: var(--space-x-small) 0;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  li {
    margin-bottom: 0;
  }

  margin-bottom: var(--space-x-small);
}

.site-layout__right {
  display: none;
}

@media screen and (min-width: 920px) {
  .site-layout__left {
    grid-row: 1;
    grid-column: content-start / span 2;
  }

  .site-layout__content {
    grid-row: 1;
    grid-column: 4 / span 10;
    padding-left: var(--space-xxx-large);
    padding-right: var(--space-large);
  }

  .site-layout__right {
    display: block;
    grid-row: 1;
    grid-column: 11 / content-end;
  }
}

.site-layout__content {
  width: 100%;
}

.edit-on-github__link {
  font-size: 16px;
  margin-top: var(--space-x-large);

  display: inline-flex;
  align-items: center;
  color: var(--color-neutral-400);
  font-weight: var(--semibold);
  padding: var(--space-medium) 0;

  svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
    margin-right: var(--space-x-small);
    flex-shrink: 0;
  }

  &:hover {
    text-decoration-thickness: 2px;
  }
}

.need-help {
  border-top: solid 1px var(--color-neutral-100);
  margin-top: var(--space-xxx-large);
  padding-top: var(--space-x-large);
  margin-bottom: var(--space-x-large);
}

::selection {
  background: var(--color-maize-200); /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: var(--color-maize-200); /* Gecko Browsers */
}

.integration {
  margin: var(--space-x-large) 0;

  border-top: solid 2px var(--color-maize-400);
  padding-top: var(--space-large);

  p {
    max-width: 75ch;
  }
}

.not-found-image {
  margin-top: var(--space-x-large);
  width: 32rem;
  max-width: 100%;
}

code {
  font-size: 1rem;
}

pre {
  margin: 0;
}

img {
  display: block;
}
