.color-palettes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: var(--space-medium);

  margin-top: var(--space-xx-large);
}

.color-palette {
  ol {
    list-style: none;
  }

  li {
    padding: var(--space-medium);
    margin: 0;

    display: flex;
    justify-content: space-between;
  }
}

/*
  COLOR TOKENS
*/

#color-orange-400 {
  color: var(--color-neutral-500);
}

#color-blue-300,
#color-blue-400,
#color-blue-500,
#color-neutral-300,
#color-neutral-400,
#color-neutral-500,
#color-teal-400,
#color-teal-500,
#color-orange-500,
#color-pink-400,
#color-pink-500,
#color-indigo-400,
#color-indigo-500,
#color-green-500 {
  color: white;
}
