:host {
  --highlight-color: rgb(255, 203, 5);
  --text-color: rgb(33, 43, 54);
  --font-base-family: "Muli", sans-serif;
  --font-base-size: 16px;
  --space-xxx-small: 2px;
  --space-xx-small: 4px;
  --space-x-small: 8px;
  --space-small: 12px;
  --space-medium: 16px;
  --space-large: 24px;
  --space-x-large: 32px;
  --space-xx-large: 40px;
  --space-xxx-large: 48px;
  --space-xxxx-large: 64px;
  --space-xxxxx-large: 96px;
  --z-space-small: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
  --z-space-medium: rgba(0, 0, 0, 0.2) 0px 2px 16px 0px;
}

.m-chat {
  position: fixed;
  right: 4vw;
  bottom: 0;
  border-radius: 2px 2px 0 0;
  border-top: solid 2px var(--highlight-color);
  box-shadow: var(--z-space-medium);
  width: calc(var(--space-medium) * 14);
  transition: width 0.25s;
  max-width: calc(
    100% - 8vw
  ); /* Even left and right spacing of 4vw on small screens */
  background: white;
}

.m-chat.m-chat--open {
  width: calc(var(--space-medium) * 20);
}

.m-chat__button {
  /*
    <button> reset
  */
  border: none;
  background: none;
  outline: 0;
  font-size: var(--font-base-size);
  color: var(--text-color);
  text-align: left;

  /*
    Rest of styles.
  */
  height: 44px; /* less bottom margin */
  width: 100%;
  padding: 0 var(--space-medium);
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 2px 2px 0 0;
  margin-bottom: 4px;
}

.m-chat__svg {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.m-chat__icons {
  line-height: 0;
}

.m-chat__button:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--highlight-color), 0 0 0 3px var(--text-color);
}

.m-chat__iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.m-chat__label {
  font-family: var(--font-base-family);
  display: inline-block;
  width: 100%;
  padding: 0 var(--space-small);
}

.m-chat__window {
  max-height: 90vh;

  height: 0;
  overflow: hidden;
  transition: height 0.25s;
}

.m-chat--open .m-chat__window {
  height: calc(var(--space-medium) * 24);
}
