.m-chat__svg {
  width: 3.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
}

.m-chat__details {
  position: fixed;
  right: 2rem;
  bottom: 0;
  border: solid 1px;
}

.m-chat__details .m-chat__close-icon {
  display: none;
}

.m-chat__details .m-chat__open-icon {
  display: inline-block;
}

.m-chat__details[open] .m-chat__close-icon {
  display: inline-block;
}

.m-chat__details[open] .m-chat__open-icon {
  display: none;
}

.m-chat__summary {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.m-chat__summary::-webkit-details-marker {
  display: none;
}

.m-chat__iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.m-chat__label {
  display: inline-block;
  width: 100%;
  padding: 1rem 1.5rem;
}

.m-chat__window {
  height: 22rem;
}
