.m-chat__svg {
  width: 3.5rem;
  height: 2.5rem;
  margin-right: var(--space-small);
}

.m-chat__details {
  position: fixed;
  right: 4vw;
  margin-left: 4vw;
  bottom: 0;
  border-radius: 2px 2px 0 0;
  border-top: solid 2px var(--color-primary-maize-400);
  box-shadow: var(--z-space-medium);
  width: 20rem;
  max-width: 100%;
  color: var(--color-primary-neutral-400);
}

.m-chat__icon-container {
  line-height: 0;
}

.m-chat__details .m-chat__close-icon {
  display: none;
}

.m-chat__details .m-chat__open-icon {
  display: inline-block;
}

.m-chat__details[open] .m-chat__close-icon {
  display: inline-block;
}

.m-chat__details[open] .m-chat__open-icon {
  display: none;
}

.m-chat__summary {
  padding: var(--space-xx-small) var(--space-large);
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 2px;
  margin-bottom: 4px;
  padding-bottom: calc(var(--space-xx-small) - 2px);
}

.m-chat__summary:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-primary-maize-400),
    0 0 0 3px var(--color-primary-neutral-400);
}

.m-chat__summary::-webkit-details-marker {
  display: none;
}

.m-chat__iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.m-chat__label {
  display: inline-block;
  width: 100%;
  padding: 0 var(--space-large);
}

.m-chat__window {
  height: 22rem;
}
