.cards {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 2rem 1rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;

  a:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.img {
  margin-bottom: var(--space-xx-small);
  background: var(--color-blue-100);
  border: solid 1px var(--color-neutral-100);
  border-radius: var(--radius-default);
}

.card .text {
  order: 1;
  color: var(--color-neutral-300);

  h3 a {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--color-neutral-400);
    text-decoration: underline;
    text-decoration-color: var(--color-teal-400);

    &:hover {
      text-decoration-thickness: 2px;
    }
  }
}

.card:hover {
  img {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  }
}

.card:focus-within a:focus {
  text-decoration: none;
}
