.example {
  pre {
    margin-top: 0;
    border: none;
  }
  border-radius: var(--radius-default);
  border: solid 1px var(--color-neutral-100);
}

.example__preview {
  border-bottom: solid 1px var(--color-neutral-100);
  border-radius: var(--radius-default);
  padding: var(--space-medium);
  border-radius: var(--radius-default) var(--radius-default) 0 0;
  background: white;
}
