.home-heading {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.home-lede {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--space-large);
  font-size: 1.25rem;
  max-width: 39rem;
  text-align: center;
}

.home {
  & > section {
    margin: var(--space-large) 0;

    & > h2 {
      margin-bottom: var(--space-medium);
    }

    & > p {
      margin-bottom: var(--space-x-large);
      max-width: 75ch;
    }
  }
}

.home-image {
  border-radius: 4px;
}

.updates {
  grid-column: site-start/site-end;
  background: var(--color-maize-400);
  padding: var(--space-xxx-large) 0;
}

.home-cards {
  padding: var(--space-xxx-large) 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 2rem 1rem;

  li {
    list-style: none;
  }
}
