.site-footer {
  background: var(--color-blue-400);

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    color: white;
  }
}

.site-footer__content {
  color: var(--color-blue-100);
  padding: var(--space-xxx-large) 0;

  h2 {
    color: var(--color-blue-200);
    font-size: 0.875rem;
    font-weight: 800;
    letter-spacing: 1.25px;
    text-transform: uppercase;
  }

  h2 {
    margin-bottom: var(--space-medium);
  }

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 2rem 1rem;
}

.site-footer__disclaimer {
  background: var(--color-blue-500);
  color: var(--color-blue-200);

  padding: var(--space-medium) 0;

  a {
    color: var(--color-blue-200);
  }

  @media screen and (min-width: 820px) {
    p {
      display: "inline-block";
    }

    p + p {
      margin-left: var(--space-x-large);
    }
  }
}
