.heading--tiny {
  color: var(--color-neutral-400);
  font-weight: var(--bold);
  font-size: var(--text-xxx-small);
  font-family: var(--font-base-family);
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  line-height: var(--line-height-default);
  margin: 0;
}
