@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Muli:400,600,700");
@import "custom-properties";

:root {
  @include custom-properties;
}

html,
body {
  margin: 0;
}

/*
  Credit: https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
