@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Muli:400,600,700");
@import "custom-properties";

:root {
  @include custom-properties;
}

* {
  box-sizing: border-box;
}

html {
  font-size: var(--text-base-size);
  line-height: var(--line-height-default);
}

body {
  font-size: 1rem;
  color: var(--color-neutral-400);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: var(--space-x-small);
}

a {
  color: var(--color-teal-400);
  box-shadow: inset 0 -1px var(--color-teal-400);
  text-decoration: none;
}

a:hover {
  color: #0056b3;
  box-shadow: inset 0 -2px var(--color-teal-400);
}

.error {
  color: var(--color-orange-100);
}

.warning {
  color: var(--color-maize-100);
}

.success {
  color: var(--color-teal-100);
}

.visually-hidden {
  /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
