@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Muli:400,600,700");

$color-negative: $color-secondary-orange-100;
$color-warning: $color-primary-maize-100;
$color-success: $color-primary-teal-100;

$states: (
  error: $color-negative,
  warning: $color-warning,
  success: $color-success
);

.error {
  color: map-get($states, error);
}

.warning {
  color: map-get($states, warning);
}

.success {
  color: map-get($states, success);
}

.visually-hidden {
  /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
