@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Muli:400,600,700");

* {
  box-sizing: border-box;
}

html {
  font-family: $font-base-family;
  font-size: $font-base-size;
}

*:focus {
  outline: $color-focus;
  outline-offset: 0;
}

p {
  color: $color-primary-neutral-400;
}

$color-negative: $color-secondary-orange-100;
$color-warning: $color-primary-maize-100;
$color-success: $color-primary-teal-100;

$states: (
  error: $color-negative,
  warning: $color-warning,
  success: $color-success
);

.error {
  color: map-get($states, error);
}

.warning {
  color: map-get($states, warning);
}

.success {
  color: map-get($states, success);
}

$links: (
  default: $color-primary-teal-400,
  subtle: $color-primary-neutral-400,
  light: #fff
);

a {
  color: map-get($links, default);
}

a.subtle {
  color: map-get($links, subtle);
}

a.light {
  color: map-get($links, light);
}

.visually-hidden {
  /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
