/* Font-stack */

$font-stack-map: (
  page-heading-xxx-large: (
    font-family: var(--font-second-family),
    font-size: var(--text-xxx-large),
    font-weight: var(--regular),
    font-style: normal,
    line-height: var(--line-height-page-heading),
  ),
  page-heading-xx-large: (
    font-family: var(--font-second-family),
    font-weight: var(--regular),
    font-size: var(--text-xx-large),
    font-style: normal,
    line-height: var(--line-height-page-heading),
  ),
  subheading-x-large: (
    font-family: var(--font-base-family),
    font-size: var(--text-x-large),
    font-weight: var(--bold),
    font-style: normal,
    line-height: var(--line-height-heading),
  ),
  subheading-large: (
    font-family: var(--font-base-family),
    font-size: var(--text-large),
    font-weight: var(--semibold),
    font-style: normal,
    line-height: var(--line-height-heading),
  ),
  subheading-medium: (
    font-family: var(--font-base-family),
    font-size: var(--text-medium),
    font-weight: var(--semibold),
    font-style: normal,
    line-height: var(--line-height-heading),
  ),
  card-titles-small: (
    font-family: var(--font-base-family),
    font-size: var(--text-small),
    font-weight: var(--semibold),
    font-style: normal,
    line-height: var(--line-height-default),
  ),
  text-x-small: (
    font-family: var(--font-base-family),
    font-size: var(--text-x-small),
    font-weight: var(--regular),
    font-style: normal,
    line-height: var(--line-height-default),
  ),
  text-xx-small: (
    font-family: var(--font-base-family),
    font-size: var(--text-xx-small),
    font-weight: var(--regular),
    font-style: normal,
    line-height: var(--line-height-default),
  ),
  details-xxx-small: (
    font-family: var(--font-base-family),
    font-size: var(--text-xxx-small),
    font-weight: var(--bold),
    font-style: normal,
    text-transform: uppercase,
    letter-spacing: 1.25px,
    line-height: var(--line-height-default),
  ),
);

@mixin font-modifiers() {
  @each $font-group, $ruleset in $font-stack-map {
    &-#{$font-group} {
      font-family: map-get($ruleset, font-family);
      font-weight: map-get($ruleset, font-weight);
      font-size: map-get($ruleset, font-size);
      font-style: map-get($ruleset, font-style);
      text-transform: map-get($ruleset, text-transform);
      letter-spacing: map-get($ruleset, letter-spacing);
      line-height: map-get($ruleset, line-height);
    }
  }
}

.m {
  @include font-modifiers;
}
