/* Font-size */

.xxx-small {
  font-size: var(--xxx-small);
}

.xx-small {
  font-size: var(--xx-small);
}

.x-small {
  font-size: var(--x-small);
}

.small {
  font-size: var(--small);
}

.medium {
  font-size: var(--medium);
}

.large {
  font-size: var(--large);
}

.x-large {
  font-size: var(--x-large);
}

.xx-large {
  font-size: var(--xx-large);
}

.xxx-large {
  font-size: var(--xxx-large);
}

/* Display */

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.inline {
  display: inline;
}

.grid {
  display: grid;
}

/* Layers */

.z-space-small {
  box-shadow: $z-space-small;
}

.z-space-medium {
  box-shadow: $z-space-medium;
}

/* Weight */

.bold {
  font-weight: var(--bold);
}

.regular {
  font-weight: var(--regular);
}

.semi-bold {
  font-weight: var(--semibold);
}
