@import "custom-properties";

.m-uh {
  @include custom-properties;

  background: var(--color-blue-100);
  font-family: var(--font-base-family);
  line-height: var(--line-height-default);
  font-size: 16px;

  * {
    box-sizing: border-box;
  }

  *:focus {
    outline: 0;
    box-shadow: 0 0 0 2px var(--color-maize-400),
      0 0 0 3px var(--color-neutral-400);
    border-radius: 2px !important;
  }
}

.m-uh__content {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.m-uh__button-container {
  display: inline-block;
  position: relative;
}

.m-uh__button {
  /*
    <button> reset
  */
  border: none;
  background: none;
  font-size: var(--font-base-size);
  color: var(--color-neutral-400);
  text-align: left;
  line-height: var(--line-height-default);

  /*
    Styles
  */
  display: flex;
  align-items: center;
  cursor: pointer;
}

.m-uh__button,
.m-uh__link {
  margin: 0;
  text-transform: uppercase;
  padding: var(--space-x-small);
  margin: 0 calc(var(--space-x-small) * -1);
  color: var(--color-neutral-300);
  letter-spacing: 1.25px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: var(--bold);
  font-family: var(--font-base-family);

  &:hover {
    .m-uh__button-label {
      text-decoration: underline;
      text-decoration-thickness: 1px;
    }
  }
}

.m-uh__button-label {
  padding-right: var(--space-xx-small);
}

.m-uh__link {
  text-decoration: none;
  margin-right: var(--space-x-large);

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }

  @media screen and (min-width: 721px) {
    display: block;
  }
}

.m-uh__link-text {
  display: block;
  @media screen and (max-width: 620px) {
    display: none;
  }
}

.m-uh__link-text--small {
  display: none;
  @media screen and (max-width: 620px) {
    display: block;
  }
}

.m-uh__icons {
  line-height: 0;
}

.m-uh__dropdown {
  position: absolute;
  right: 0;
  width: 320px;
  max-width: calc(100vw - (var(--space-medium) * 2));
  margin-left: var(--space-x-large);
  box-shadow: var(--z-space-medium);
  background: white;
  border-radius: 2px;

  @media screen and (min-width: 721px) {
    display: grid;
    grid-template: "heading heading" "primary secondary" / 1fr 280px;
    padding: var(--space-medium);
    width: 862px;
    max-width: calc(100vw - (var(--space-medium) * 4));
  }
}

.m-uh__heading {
  grid-area: heading;
  margin-top: 0;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 0;
  padding: var(--space-small) var(--space-medium);

  @media screen and (max-width: 720px) {
    display: none;
  }
}

.m-uh__list-primary,
.m-uh__list-secondary {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: var(--space-medium);

  @media screen and (max-width: 720px) {
    margin: 0;
    li:not(:last-of-type) {
      border-bottom: solid 1px var(--color-neutral-100);
    }
  }
}

.m-uh__list-primary {
  grid-area: primary;
  @media screen and (min-width: 721px) {
    border-right: solid 1px var(--color-neutral-100);
    margin-right: var(--space-medium);
    padding-right: var(--space-medium);
  }
}

.m-uh__list-secondary {
  grid-area: secondary;
}

@media screen and (max-width: 720px) {
  .m-uh__list-primary {
    border-bottom: solid 1px var(--color-neutral-100);
  }
}

.m-uh__item-link {
  display: block;
  color: var(--color-neutral-400);
  font-weight: var(--semibold);
  text-decoration: none;
  padding: var(--space-x-small) var(--space-medium);
  border-radius: 2px;

  @media screen and (max-width: 720px) {
    padding: var(--space-small) var(--space-medium);
  }

  &:hover {
    @media screen and (max-width: 720px) {
      border-radius: 0;
      background: var(--color-blue-100);
    }
  }

  &:hover,
  &:focus {
    .m-uh__item-title {
      text-decoration: underline;
      text-decoration-color: var(--color-teal-400);
      text-decoration-thickness: 2px;
    }
  }
}

.m-uh__item-title {
  display: block;
}

.m-uh__item-desc {
  display: none;

  @media screen and (min-width: 721px) {
    display: block;
    font-weight: 400;
    color: var(--color-neutral-300);
  }
}
