:host {
  @import "../common";

  font-family: var(--font-base-family);
  line-height: var(--line-height-default);
  font-size: 16px;

  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased; /* Chrome, Safari */
    -moz-osx-font-smoothing: grayscale; /* Firefox */
  }

  *:focus {
    outline: 0;
    box-shadow: 0 0 0 2px var(--color-maize-400),
      0 0 0 3px var(--color-neutral-400);
    border-radius: 2px !important;
  }

  p {
    margin: 0;
  }
}

.website-footer {
  background: var(--color-blue-400);

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      display: inline-block;
      padding: var(--space-x-small) 0;

      &:hover {
        text-decoration-thickness: 2px;
      }
    }
  }

  & a {
    color: white;
  }
}

.website-footer__content {
  color: var(--color-blue-100);
  padding: var(--space-xxx-large) 0;

  & h2 {
    color: var(--color-blue-200);
    font-size: 0.875rem;
    font-weight: 800;
    letter-spacing: 1.25px;
    text-transform: uppercase;

    margin-bottom: var(--space-medium);
  }

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: var(--space-medium);
}

.website-footer__disclaimer {
  background: var(--color-blue-500);
  color: var(--color-blue-200);
  padding: var(--space-medium) 0;

  & a {
    color: var(--color-blue-200);
  }

  @media screen and (min-width: 820px) {
    & p {
      display: "inline-block";
    }

    & p + p {
      margin-left: var(--space-x-large);
    }
  }
}
