$color-primary-blue-100: #F7F8F9;
$color-primary-blue-200: #B2BEC9; 
$color-primary-blue-300: #4C6781;
$color-primary-blue-400: #00274C;
$color-primary-blue-500: #001324;

$color-primary-maize-100: #FFF9E6;
$color-primary-maize-200: #FFEA9B;
$color-primary-maize-300: #FFDA50;
$color-primary-maize-400: #FFCB05;
$color-primary-maize-500: #EABA02;

$color-primary-neutral-100: #E5E9ED;
$color-primary-neutral-200: #8A96A1;
$color-primary-neutral-300: #637381;
$color-primary-neutral-400: #212B36;
$color-primary-neutral-500: #06080A;

$color-primary-teal-100: #E9F2F5;
$color-primary-teal-200: #A7CDDB;
$color-primary-teal-300: #65A8BF;
$color-primary-teal-400: #1D7491;
$color-primary-teal-500: #106684;

$color-secondary-orange-100: #FFF1EB;
$color-secondary-orange-200: #FFB899;
$color-secondary-orange-300: #FF8A58;
$color-secondary-orange-400: #F25F1F;
$color-secondary-orange-500: #C74E1A;

$color-secondary-pink-100: #FCEBEB;
$color-secondary-pink-200: #F29D9D;
$color-secondary-pink-300: #EC6969;
$color-secondary-pink-400: #D93838;
$color-secondary-pink-500: #BF3232;

$color-secondary-indigo-100: #EEF1F9;
$color-secondary-indigo-200: #AAB9E3;
$color-secondary-indigo-300: #7C93D4;
$color-secondary-indigo-400: #506FC5;
$color-secondary-indigo-500: #274391;

$color-secondary-green-100: #EAF8EE;
$color-secondary-green-200: #96DBAA;
$color-secondary-green-300: #57BC75;
$color-secondary-green-400: #20A848;
$color-secondary-green-500: #198539;

$color-focus: $color-primary-blue-400;

$color-negative: $color-secondary-orange-100;
$color-warning: $color-primary-maize-100;
$color-success: $color-primary-teal-100;

$states: (
  error: $color-negative,
  warning: $color-warning,
  success: $color-success,
);