@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Muli:400,600,700');  

// Global typography settings
$font-base-family: 'Muli', sans-serif;
$font-second-family: 'Crimson Text', serif ;
$font-base-size: 16px;

$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;