@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Muli:400,600,700");

@import "./../build/tokens/design-tokens.custom-properties.css";

/*
 * Variables
 *
 * All the CSS values that can be changed based
 * on developer configuration or via media query.
 */
:root {
  --viewport-margin: var(--space-medium);
  --page-heading-size: var(--space-xx-large);
}

@media (min-width: 720px) {
  :root {
    --viewport-margin: var(--space-xx-large);
    --page-heading-size: var(--space-xxx-large);
  }
}

/*
 * Resets
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  color: var(--color-neutral-400);
  font-family: var(--font-base-family);
  line-height: 1.5;
  font-size: 16px;
  box-sizing: border-box;
}

/*
 * Anchors/Links
 *
 * How about we just make links all have an underline?
 * I mean, if you're going to use a link and not
 * underline it, you better know your context and
 * have a good reason to do so.
 */

a {
  color: var(--color-teal-400);
  text-decoration: underline;

  /*
  &:visited {
    color: var(--color-indigo-500);
  }
  */
}

a:hover {
  text-decoration-thickness: 2px;
}

/*
 * Headings
 *
 * The most used headings I imagine
 * are a page title (h1) and section
 * headings (h2) plus the subtle heading
 * that that typography is in the
 * universal header. 
 *
 * Concerns/Thoughts
 * - Rules for naming CSS classes?
 * - Restrictions?
 */

h1,
.page-heading {
  font-size: var(--page-heading-size);
  font-family: var(--font-second-family);
  line-height: var(--line-height-page-heading);
}

h2,
.page-sub-heading {
  font-size: var(--text-medium);
  font-weight: var(--bold);
}

h3,
.page-sub-sub-heading {
  font-size: var(--text-small);
  font-weight: var(--bold);
}

.subtle-heading {
  color: var(--color-neutral-300);
  letter-spacing: 1.25px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: var(--bold);
  font-family: var(--font-base-family);
}

/*
 * Viewport Container
 *
 * Handles the need for page content to be centered
 * in the visible view port window and manage the
 * ammount of margin between the site and the edge
 * of the screen's viewport.
 */

.viewport-container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--viewport-margin);
  padding-right: var(--viewport-margin);
}

/*
 * Buttons
 * We need some buttons. 
 */

.button,
.button-most-important {
  border: none;
  outline: none;
  display: inline-block;
  padding: var(--space-small) var(--space-large);
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  font-family: var(--font-base-family);
  border-radius: var(--radius-default);

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }

  &:not([disabled]) {
    &:hover,
    &:focus,
    &:active {
      box-shadow: 0 0 0 2px white, 0 0 0 3px var(--color-neutral-400);
    }
  }
}

.button {
  background: var(--color-blue-100);
  color: var(--color-teal-400);
}

.button-most-important {
  background: var(--color-teal-400);
  color: white;
}

img {
  width: 100%;
  border-radius: var(--radius-default);
}

/*
 * Record
 */

dl.record {
  display: grid;
  grid-template-columns: 12rem 1fr;
  column-gap: 0;
  width: 50vw;

  & dt {
    font-weight: var(--bold);
  }

  & dt,
  & dd {
    border-bottom: 1px solid var(--color-neutral-100);
    margin: 0;
    padding: var(--space-small) 0;
  }
}

/*
  Credit: https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/*
  If the user has expressed their preference for
  reduced motion, then don't use animations, etc.
  source: https://web.dev/prefers-reduced-motion/
*/
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

*:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--color-maize-400),
    0 0 0 3px var(--color-neutral-400);
  border-radius: 2px !important;
}

.line-length {
  max-width: var(--line-length);
}

/*
 * Record
 */

footer.page-footer {
  /* options */

  background: var(--color-blue-400);

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;

    & a {
      display: inline-block;
      padding: var(--space-x-small) 0;

      &:hover {
        text-decoration-thickness: 2px;
      }
    }
  }

  & a {
    color: white;
  }
}

.page-footer__content {
  color: var(--color-blue-100);
  padding: var(--space-xxx-large) 0;

  & h2 {
    color: var(--color-blue-200);
    font-size: 0.875rem;
    font-weight: 800;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    margin-bottom: var(--space-medium);
  }

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, max-content));
  grid-auto-flow: column;
  gap: var(--space-large);
}

.page-footer__disclaimer {
  background: var(--color-blue-500);
  color: var(--color-blue-200);
  padding: var(--space-medium) 0;

  & a {
    color: var(--color-blue-200);
  }

  & p {
    margin: 0;
  }

  @media screen and (min-width: 820px) {
    & p {
      display: "inline-block";
    }

    & p + p {
      margin-left: var(--space-x-large);
    }
  }
}

table {
  width: 100%;
}

th {
  text-align: left;
  border-bottom: solid 2px var(--color-maize-400);
  font-size: 0.875rem;
  font-weight: 800;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

th,
td {
  padding: var(--space-medium);
  padding-left: 0;
  padding-right: 0;
  vertical-align: top;

  &:not(:last-of-type) {
    padding-right: var(--space-x-large);
  }
}

td {
  border-bottom: solid 1px var(--color-neutral-100);
}

.page-navigation-container {
  display: grid;
  grid-template-columns: 1fr 256px 12vw 1fr;
}

.page-navigation-aside {
  grid-row: 1;
  grid-column: 2;
}

.page-navigation-main {
  grid-column: 3
}

.breadcrumbs,
.aside-nav,
.menu-nav {
  & ol {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.breadcrumbs,
.menu-nav {
  & li {
    &:first-child a {
      padding-left: 0;
    }
  }

  & a {
    display: inline;
    padding: var(--space-medium) var(--space-small);
  }
}

/*
  The font-size switch is a technique
  to remove `whitespace` spacings between
  inline elements.
*/
.breadcrumbs {
  & li {
    font-size: 0;
  }

  & a {
    font-size: 1rem;

    &[aria-current="page"] {
      color: var(--color-neutral-400);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        text-decoration-thickness: 2px;
      }
    }
  }

  & li:not(:first-child):before {
    content: "\2215";
    font-size: 1rem;
  }
}

.aside-nav {
  & ol {
    flex-direction: column;
    margin: 0;
  }

  & li {
    display: block;
    margin: 0;

    &:not(:last-child) {
      border-bottom: solid 1px var(--color-neutral-100);
    }
  }

  & a {
    display: block;
    padding: var(--space-medium) 0;
    text-decoration: none;
    color: var(--color-neutral-400);

    &:hover {
      text-decoration: underline;
    }

    &[aria-current="page"] {
      font-weight: 700;
      color: var(--color-teal-400);
    }
  }
}

.menu-nav {
  & ol {
    border-bottom: solid 1px var(--color-neutral-100);
    padding-bottom: calc(var(--space-medium) + 1px);
  }

  & li a {
    text-decoration: none;
    color: var(--color-neutral-400);

    &:not([aria-current="page"]):hover {
      text-decoration: underline;
    }

    &[aria-current="page"] {
      color: var(--color-teal-400);
      font-weight: 700;
      border-bottom: 4px solid var(--color-teal-400);
    }
  }
}

@media (min-width: 920px) {

.page {
  display: grid;
  grid-template-columns: 14rem 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "breadcrumb breadcrumb"
  "neighbors heading"
  "neighbors grouping"
  "neighbors content";

  grid-gap: 0 var(--space-xxx-large);

  & .breadcrumbs {
    margin: var(--space-x-large) 0;
    grid-area: breadcrumb;
  }

  & .menu-nav {
    grid-area: grouping;
    margin-top: var(--space-x-large);
    margin-bottom: var(--space-large);
  }

  & .aside-nav {
    grid-area: neighbors;
  }

  & .page-heading {
    margin: 0;
    grid-area: heading;
  }

  & .page-content {
    grid-area: content;
  }
}

}

.prose {
  --max-prose-width: 65ch;
  & > p {
    max-width: var(--max-prose-width);
  }

  & > img {
    max-width: var(--max-prose-width);
  }
}

.page-previews {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(36ch, 1fr));
  grid-gap: var(--space-medium);
  align-items: stretch;

  margin: 0;
  padding: 0;
  list-style: none;

  & > li {
    position: relative;
    display: flex;
    flex-direction: column;
  
    & > a {
      text-decoration: none;
      border: solid 1px var(--color-neutral-100);
      border-radius: var(--radius-default);
      padding: var(--space-medium);
      font-size: var(--space-small);
      height: 100%;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }

      &:hover {
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
        
        & > h3 {
          text-decoration-thickness: 2px;
        }
      }

      & > h3 {
        margin: 0;
        color: var(--color-neutral-400);
        text-decoration: underline;
        text-decoration-color: var(--color-teal-400);
        text-decoration-thickness: 1px;
        font-weight: 700;
      }

      & > p {
        order: 1;
        color: var(--color-neutral-300);
        margin: 0;
        font-size: var(--space-medium);
      }
    }
  }
}

kbd {
  border: 1px solid var(--color-neutral-300);
  box-shadow: 1px 0 1px 0 var(--color-neutral-200), 0 2px 0 2px var(--color-neutral-100), 0 2px 0 3px var(--color-neutral-300);
  border-radius: 3px;
  margin: 2px 3px;
  padding: 1px 5px;
  white-space: nowrap;
}